{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Cápitan América</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur pariatur accusamus molestias autem
            reprehenderit voluptates inventore itaque ipsam rerum delectus aliquid quidem quisquam facere maxime, dolore
            praesentium. Perferendis, saepe facere?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/capitan-america.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}